body {
    background-color: rgb(65, 77, 77);
    display: grid;
    place-items: center;
}
#sketch-panel {
    margin-top: 5vw;
    max-width: 90vw;
    max-height: 90vw;
    display: grid;
    place-items: center;
    grid-template-columns: 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw;
    grid-template-rows: 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw 2.8125vw;
}
.gridUnitFilled {
    width: 2.8125vw;
    height: 2.8125vw;
    border: .5px solid black;
    background-color: black;
}
.gridUnit {
    width: 2.8125vw;
    height: 2.8125vw;
    border: .5px solid black;
    background-color: aliceblue;
}
.gridUnit:hover {
    background-color: black;
}
